<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logeo Idat</title>
</head>
<body>
    <!-- form>(p*2) -->
    <form>
        <p>
            <label for="nombre">Usuario</label>
            <input type="text" name="nombre" size="40">
        </p>
        <p>
            <label for="contraseña">Contraseña</label>
            <input type="text" name="password" size="40">
        </p>
        <p>
            <input type="submit" value="Enviar">
            <input type="reset" value="Limpiar">
        </p>
    </form>
    <!-- /form> -->
</body>
</html>