*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.container_div{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
    grid-gap: 20px;
}
.img_div{
    width: 400px;
    height: 250px;
    grid-column: auto; /* Coloca las imágenes automáticamente en las columnas */
    grid-row: auto; /* Coloca las imágenes automáticamente en las filas */
}
